<!DOCTYPE html>
<html dir="rtl" lang="he-IL">
<head>
    <meta charset="UTF-8">
    <title>AboutUs</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/index1css.css">
    <script defer src="../static/index.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
<div class="aboutUs">
 <div class="HeadPic">
        <img id="logo" src="../static/pics/logo.png" width="40%" height="90%" alt="">
 </div>
<div class="header1">
    <h1 >מי אנחנו?</h1>
</div>
<div class="par">
<p>
     האתר שלנו הוא המקום היחיד שמאגד אנשי מקצוע מתחום התרגום. האתר הוקם כדי לעזור לכל אדם הזקוק לשירותי תרגום, למצוא מתורגמן, בצורה הכי קלה שאפשר בדיוק לפי הצרכים שלו. <br> הצטרפו אלינו ויחד נוכל לגשר על פערי שפות!
</p>
</div>
<div class="media">
      <div class="circle pulse"></div>
    <div class="circle1 pulse"></div>
</div>
    </div>
<footer></footer>





</body>
</html>