<!DOCTYPE html>
<html dir="rtl" lang="he-IL">
<head>
    <meta charset="UTF-8">
    <title>ContactUs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Varela+Round&display=swap" rel="stylesheet">
    <script defer src="../static/index.js"> </script>
    <link rel="stylesheet" type="text/css" href="../static/index1css.css">
</head>

<body class="loginBody" >

    <div class="sideLogo">
        <a href="index.html" class="sideLogo"><img id="logo" src="../static/pics/logo.png" width=30%" height="100%" alt=""></a>
    </div>

<div class="contBody">
    <div class="contactUs">
    <div class="content">
        <div class="contactImage">
            <img src="../static/pics/contact.jpg" alt="contactUsPic">
        </div>

        <form>
            <div id="formHealine">
                <h3>מעוניין בפרטים נוספים? <br> שלח לנו הודעה ונחזור אליך! </h3>
            </div>
            <div class="inputs">
                <label for="fullName">שם מלא</label>
                <input type="text" name="fullName" required>
            </div>
            <div class="inputs">
                <label for="email">כתובת מייל</label>
                <input type="email" name="email" required>
            </div>
            <div class="inputs">
                <label for="message">הכנס הודעה </label>
                <textarea name="message" required></textarea>
            </div>
            <div class="sub">
                <button class="submit" type="submit">שלח הודעה</button>
            </div>
        </form>
    </div>
</div>
</div>

</body>
</html>