<!DOCTYPE html>
<html dir="rtl" lang="he-IL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilinguals</title>
    <script defer src="../static/index.js"> </script>
    <link rel="stylesheet" type="text/css" href="../static/index1css.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Varela+Round&display=swap" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="main">
    <div class="HeadPic">
        <img id="logo" src="../static/pics/logo.png" width="40%" height="90%" alt="">
    </div>
    <div class="header1">
        <h1>יוצרים שפה משותפת</h1>
    </div>

    <div class="div1">
        <h2>למה אנחנו?</h2>
    </div>
<div class="reaBlock">
    <div class="block">
        <h3 class="reason">סיבה 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eaque, et labore minima necessitatibus omnis quibusdam quidem? Aliquid dolorum eveniet incidunt ipsum, minus, molestiae numquam pariatur quo repellendus velit, vitae.</p>
    </div>
    <div class="block">
        <h3 class="reason">סיבה 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eaque, et labore minima necessitatibus omnis quibusdam quidem? Aliquid dolorum eveniet incidunt ipsum, minus, molestiae numquam pariatur quo repellendus velit, vitae.</p>
    </div>
    <div class="block">
        <h3 class="reason">סיבה 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eaque, et labore minima necessitatibus omnis quibusdam quidem? Aliquid dolorum eveniet incidunt ipsum, minus, molestiae numquam pariatur quo repellendus velit, vitae.</p>
    </div>
</div>

    <div class="div1">
          <h2> רוצה להצטרף לצוות המתורגמנים שלנו?</h2>
    </div>
    <div class="div2">
      <a href="tranSignUp.html"> <button class="join"> צור חשבון מתורגמן</button>   </a>
    </div>

<div class="media">
      <div class="circle pulse"></div>
    <div class="circle1 pulse"></div>
</div>

    </div>
</div>
<footer></footer>

</body>

</html>