<!DOCTYPE html>
<html dir="rtl" lang="he-IL">
<head>
    <meta charset="UTF-8">
    <script defer src="../static/index.js"> </script>
    <title>Bilinguals/LogIn</title>
    <link rel="stylesheet" type="text/css" href="../static/index1css.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body class="loginBody">
<div class="Holder">
    <img id="logo" src="../static/pics/logo.png" width=30%" height="100%" alt="">
</div>

<form class="loginForm" action="">
  <div class="formHeadings">
      <h3>התחבר לאתר</h3>
      <br>
      <p>שמחים שחזרת אלינו!</p>
  </div>
    <div class="logMsg"></div>
  <div class="fillings">
   <div> <label for="username"> שם משתמש </label>
        <input type="text" name="username" id="logUser" placeholder="הכנס שם משתמש" required>

   </div>

    <br><br>
    <label for="password"> סיסמה</label>
    <input type="password" name="password" id="logPass" placeholder="הכנס סיסמה" required>
    <br><br>
    <div class="Holder">
            <button class="submit" type="submit">התחבר</button>
    </div>
<br>
    <p class="register">עוד לא נרשמת לאתר?  <a href="signUp.html"> הירשם כעת</a> </p>
  </div>
</form>

</body>
</html>