<!DOCTYPE html>
<html dir="rtl" lang="he-IL">
<head>
    <meta charset="UTF-8">
    <title>Request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Varela+Round&display=swap" rel="stylesheet">
    <script defer src="js/clientSide.js"> </script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>

<div class="requestForm">
    <div class="formHeader">
        <h2>יצירת בקשת תרגום</h2>
    </div>
    <form action="/createRequest" method="post">
        <div class="req">
            <div class-="headlines">
          <h3>פרטי מבקש</h3>
        </div>
        <div class="formFill">
            <div class="side">
                <div>
                    <label for="firstName"> שם פרטי </label>
                    <input type="text" name="firstName" required>
                </div>
                <div>
                     <label for="lastName"> שם משפחה </label>
                    <input type="text" name="lastName" required>
                </div>
            </div>

            <div class="side">
                <div>
                    <label for="email"> מייל </label>
                    <input type="email" name="email" required>
                </div>
                <div>
                  <label for="phoneNumber"> נייד </label>
                  <input type="tel" name="phoneNumber" required>
                </div>
            </div>
        </div>
        </div>

        <div class="req">
             <div class-="headlines">
          <h3>פרטי בקשה</h3>
        </div>
        <div class="formFill">
             <div class="details">
                 <label for="dueDate"> תאריך רצוי לקבלת תרגום </label>
                 <input type="date" name="dueDate" required>
             </div>
              <div class="details">
                 <label for="details"> פירוט בקשה </label>
                 <textarea name="details"> </textarea>
             </div>
        </div>
            <div id="reqButton">
            <input class="submit" type="submit" value="שלח בקשה">
            </div>
        </div>

    </form>

    <footer></footer>

</div>
</body>
</html>