<!DOCTYPE html>
<html dir="rtl" lang="he-IL">
<head>
    <meta charset="UTF-8">
        <script defer src="../static/index.js"> </script>
    <title>Bilinguals/signUp</title>
    <link rel="stylesheet" type="text/css" href="../static/index1css.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Varela+Round&display=swap" rel="stylesheet">

</head>
<body class="loginBody">
<div class="Container2">
    <div class="sideLogo">
        <img id="logo" src="../static/pics/logo.png" width=25%" height="100%" alt="">
    </div>
    <div class="signUpForm">
        <form class="regSignForm">
            <div class="Headlines">
                <h2>צור חשבון חדש</h2>
                <br>
                <p>אנא מלא את הפרטים הבאים כדי שנוכל ליצור לך חשבון חדש!</p>
            </div>
            <br>
            <div class="msg"></div>
            <div class="fillings">
                <label for="username"> שם משתמש </label>
                <input type="text" id="username" placeholder="הכנס שם משתמש" required>
                <label for="password"> סיסמה</label>
                <input type="password" id="password" placeholder="הכנס סיסמה" required>
                <label for="email">אימייל</label>
                <input type="email" id="email" placeholder="הכנס כתובת מייל" required>
                <label for="phoneNumber">טלפון</label>
                <input type="tel" id="phoneNumber" placeholder="הכנס מספר טלפון" required>
            </div>
            <div class="signPic">
               <img src="../static/pics/signUpPic.png" width=17% height=100%>
            </div>
            <div class="subButton">
                <button class="submit" type="submit">צור חשבון</button>
            </div>


        </form>
    </div>
</div>


</body>
</html>