*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;

}

body {
        position: relative;
    height: 100vh;
    width: 100vw;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    background: linear-gradient(135deg, #f0c24f 0%, #BA0f0f 100%) fixed;
    color: #FFFFFF;

}
nav ul{
    float: right;
    margin-right: 20px;
    display: flex;
    width: 100%;
}
nav ul li{
    list-style:none;
    display: inline-block;
    line-height: 100px;

}

nav ul li:not(:last-child) a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 35px;
}

nav ul li a:hover{
    background: purple;
    transition: 0.3s;
}

.logIn{
    width: 170px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: darkorange;
    color: white;
    position: absolute;
    left: 20px;
    margin-top: -22px;
}
.logIn:hover{
    background-color: purple;
    cursor: pointer;

}
.container{
    display: grid;
    grid-template-columns: repeat(9,1fr);
   overflow-y: auto;
    height: calc(100vh - 200px);
}
.main{
    overflow: auto;
    grid-column: span 9;
}
footer{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(135deg, #f0c24f 0%, #BA0f0f 100%) fixed;

}
.HeadPic{
    grid-column: span 9;
    display: flex;
    justify-content: center;
    margin-top: -2%;
}
#logo{
    justify-content: center;
}
.header1{
    grid-column: span 9;
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    color: darkorange;
    margin-bottom: 40px;
}
.div1{
    grid-column: span 9;
    text-align: center;
    font-size: 18px;

}
.reaBlock{
    grid-column: span 9;
    display: flex;
}
.block{
    grid-column: span 3;
    line-height: 2em;
    padding: 50px 55px;

}
.reason{
    text-align: center;
    margin-bottom: 12px;

}
.join{
    grid-column: span 9;
    width: 170px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: darkorange;
    color: white;
    margin-top: 28px;
    margin-bottom: 50px;

}
.join:hover{
    background-color: purple;
    cursor: pointer;

}
.div2{
    grid-column: span 9;
    display: grid;
    justify-content: center;
}


.media{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}
.circle {
  background-image: url("pics/facebook.jpg");
  background-size:99% ;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
    margin-left: 35px;
}
.circle1{
  background-image: url("pics/instagram.jpg");
  background-size:96% ;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}
.pulse {
  animation: pulse-animation 1.5s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
/*.end{*/
/*    grid-column: span 9;*/
/*    height: 100px;*/
/*    background: linear-gradient(135deg, #f0c24f  0%, #BA0f0f 100%) fixed;*/
/*    color: #FFFFFF;*/
/*}*/
.loginBody{
  background: linear-gradient(to right, #D6C0FE, whitesmoke);
  color:black;
}
.fillings input[type=text] ,.fillings input[type=password] ,.fillings input[type=tel] ,.fillings input[type=email]{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
    border: none;
}
.submit {
    background-color: #23143d;
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 20px;
    border-radius: 12px;
    margin: 7px 0;
    width: 30%;
    font-size: 18px;

  }

.submit:hover {
    opacity: 0.6;
    cursor: pointer;
    background-color: #5b4288;
    transform: translateY(-5px);

}
.loginForm{
    padding: 15px;
    width:25rem;
    margin: auto;
    color:whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgb(89, 41, 94);
    border-radius: 12px;
    border: 1px solid rgba(52, 33, 79, 0.54);
}
.formHeadings{
    text-align: center;
}
.fillings{
    padding: 40px;
}
.register{
    text-align: center;
}
.register a{
    color: darkorange;
}
@media screen and (max-width: 600px) {
  form{
    width: 25rem;
  }

}

@media screen and (max-width: 400px) {
  form{
    width: 20rem;
  }
}
.Holder{
    text-align: center;
}
.Container2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.sideLogo{
    grid-column: span 4;
    display: flex;
    justify-content: left;
}
.signUpForm{
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    justify-content: right;
}
.subButton{
    display: flex;
    justify-content: left;


}
.signPic{
    display: flex;
    justify-content: flex-end;
    margin-left: 47px;
}
/*.active{
    background-color: black;
}*/
.head{
    display: grid;
    grid-column: span 4;
    padding-right: 23px;
}

.select{
    display: flex;
    justify-content: space-evenly;
    margin-top: 13px;
}

.par{
    line-height: 2em;
    font-size: 24px;
    padding: 0px 100px 30px 100px;
    text-align: center;


}
.side{
    display: flex;
    justify-content: space-around;
    font-size: 19px;
    padding: 0px 32px 21px;
}

.formFill input[type=text] ,.formFill input[type=tel] ,.formFill input[type=email], .formFill input[type=date], formFill textarea{
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    border: none;
}
.req{
    background: radial-gradient(circle , #D6C0FE 12%, whitesmoke 100%);
    width: 83vw;
    margin: auto;
    border-radius: 27px;
    padding: 10px 20px;
    margin-bottom: 15px;
}
.headlines{
    margin: 6px 16px;
}
.formHeader{
    text-align: center;
    margin: 17px 0px;
}
.details{
    font-size: 18px;
    margin: 13px 23px;
    display: flex;
}
.details textarea{
    width: 83%;
    height: 122px;
    border-radius: 11px;
    border: none;
}
#reqButton{
    display: flex;
    justify-content: center;
}



.mainCards{display: flex;gap: 20px;flex-flow: wrap;justify-content: flex-start;align-items: center;margin: 30px;}
.cardCont{width: 300px;height: 550px;}
.card{
     width: 90%;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px;
     margin: 2%;
    }
.contacDetails{
    line-height: 3em;
    text-align: right;
    padding: 40px 18px;
}
/*.cardCont:hover .card {*/
/*	transform: rotateY(180deg);*/
/*}*/
.flipCard{
    	transform: rotateY(180deg);

}
.front, .back {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	position: absolute;
}
.card {
	width: 100%;
	height: 100%;
	transition: 0.7s;
	transform-style: preserve-3d;
	position: relative;
}

.back {
  transform: rotateY(180deg);
}
@media (max-width: 500px) {
    .cardCont{
        grid-column: span 4;
    }
    /*.card image{*/
    /*    max-width: 100%;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*}*/
    /*.card image img{*/
    /*    max-width: 70%;*/
    /*}*/
}
.image img{
  width: 100%;
  border-radius: 50%;
 }

.title{

  text-align: center;
  padding: 10px;

 }

.des{
  padding: 3px;
  text-align: center;
  padding-top: 10px;
        border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}
button:hover{
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}

.contBody{
    height: 80vh ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}
.contactUs{
    max-width: 1050px;
    width: 100%;
    background: #eeeeee;
    border-radius: 10px;
    margin: 0 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 25px;
}
.contactImage{
    max-width: 50%;
}
.contactImage img{
    width: 100%;
    margin-right: 5%;
    border-radius: 7px;
}
.content form{
    width: 50%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 0px 10px;
}
.inputs input, .inputs textarea{
    width: 100%;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: none;
    resize: none;
    font-size: 16px;
}
.inputs{
    font-size: 17px;
    padding-top: 7px;
}
#formHealine{
    padding: 6px 0px;
    color: darkorange;
    margin-bottom: 5px;
}
.sub{
    display: flex;
    justify-content: center;
}
@media (max-width: 1000px) {
    .contactImage{
        max-width: 50%;
    }
    .content{
        padding: 10px 0px;
    }
}
@media (max-width: 900px) {
    .contactImage{
      display: none;
    }
    .content form{
        width: 100%;
        margin-right: 30px;
    }
}
.active{
    background-color: purple;
}

.error{
    background-color: #BA0f0f;
    border-radius: 7px;
    border-style: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 9px 0;
    text-align: center;
}

.last-nav {
display: flex;
    margin-right: auto;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.logout {
        margin: 0;
    background: #ff5722;
    color: white;
    border: 1px solid white;
}
#selectorTitles{
    display: flex;
    align-items: center;
}
#multiple-select{
    min-width: 15ch;
    max-width: 30ch;
    border: none;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.1
}
.aboutUs, .requestForm{
    overflow-y: auto;
    height: calc(100vh - 200px);
}
